<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="KPNugetFeed" value="http://10.0.1.225/nuget/kpNugetFeed/v3/index.json" />
    </packageSources>

    <!-- Used to store credentials -->
    <packageSourceCredentials>
        <KPNugetFeed>
            <add key="Username" value="stro" />
            <add key="ClearTextPassword" value="kp+praprog2022" />
        </KPNugetFeed>
    </packageSourceCredentials>

      <!-- Used to disable package sources  -->
    <disabledPackageSources />
</configuration>