<div class="page">



    <div class="gba-kachel gba-kachel--xs button" (click)="goToBildungsprogramm()">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Bildungsprogramm</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Personen</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Budgetplan</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Unternehmen</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Sachressourcen</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Stundenplanung</div>
        </div>
    </div>

    
    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Urlaubsverwaltung</div>
        </div>
    </div>

    
    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Terminal</div>
        </div>
    </div>

    
    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Fehlzeiten</div>
        </div>
    </div>

    
    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Abrechnung</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Bildungsplanung</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Termine</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Bewertungen</div>
        </div>
    </div>

    <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Leistungsnachweise</div>
        </div>
    </div>

    <!-- <div class="gba-kachel gba-kachel--xs">
        <div class="padding-all-unit">
            <div class="gba-kachel__titel">Titel</div>
            <div class="gba-kachel__body">Text</div>
            <div class="gba-kachel__footer"><a href="" class="gba-button gba-button--standard">mehr</a></div>
        </div>
    </div> -->

</div>